{%load static%}
<html lang="en" >
<head>
  {% load static %} 
  <meta charset="UTF-8">
  <title>Fly Easily </title>
  <link href="#" rel="stylesheet"><link rel="stylesheet" href="{% static 'orders.css' %}">
</head>

<div id="container_1">
  
  <h1 id="title">
    <a>Abou FlyEasily.</a>
</h1>
<p id="description">
<body>


  
  <h1 style="color:#FF9E00"><i><b>Hi user you are using Fly Easily the website of our airport, </b></i></h1>
  <h1 style="color:#51FF00"><i><b> The website is talking about buying your ticket to outside you can </b></i></h1> 
  <h1 style="color:#9E18EB"><i><b> choose everywhere by seeing the airlines table if you are setting in </b></i></h1>
  <h1 style="color:#183AEB"><i><b> airplane that has a wi-fi you can order what to eat and drink or to do what </b></i></h1>
  <h1 style="color:#7518EB"><i><b> you want you can make a rating for the workers that found on the  </b></i></h1>
  <h1 style="color:#000000"><i><b> airplane you are you can download the files that airport give you for  </b></i></h1>
  <h1 style="color:#EB187E"><i><b> your airplane ticket and every thing you want you can find on this website </b></i></h1>



</body>
</html>