{%load static%}
<html lang="en" >
<head>
{% load static %}
<meta charset="UTF-8">
<title>Fly Easily </title>
<link href="#" rel="stylesheet"><link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>
    <h1 style="color:#000000; background:rgba(6, 21, 236, 0.329)"><i><b> Manager page ✌🏻 </b></i></h1>




<div >

    <nav style="padding-top: 0.5%;">
        <ul>
<li><a href="airlines" type="submit" id="airlines">Airlines Table</a></li>
    <li><a href="showre" type="submit" id="show">Workers Reports</a></li>
            <li><a href="managerschedule" type="submit" id="news">Schedule Work</a></li>
                <li><a href="managerfiles" type="submit" id="files" name="show">passengers files</a></li>
                            <li><a href="passengerrating" type="submit" id="orders">Passenger Ratings</a></li>
                                <li><a href="managerreport" type="submit" id="orders">Send a report</a></li>
                                <li><a href="managernews" type="submit" id="logout">add news</a></li>

                                    <li><a href="passenger" type="submit" id="orders">Switch to Passengers</a></li>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>

                                        <li><a href="About" type="submit" id="about">About FlyEasily</a></li>
                                            <li><a href="http://127.0.0.1:8000/" type="submit" id="logout">Logout</a></li>

                 
        </ul>
</nav>
<br>
<h1 style="color:rgba(6, 255, 139, 0.555);"><i><b> Welcome to FlyEasily!!!! </b></i></h1>

</div>
</body>