{%load static%}
<html lang="en" >
<head>
{% load static %}
<meta charset="UTF-8">
<title>Fly Easily </title>
<link href="#" rel="stylesheet"><link rel="stylesheet" href="{% static 'index.css' %}">

</head>

<body>
    <h1 style="color:#000000; background:rgba(6, 21, 236, 0.329)"><i><b> Passenger page ✌🏻 </b></i></h1>




<div >

    <nav style="padding-top: 0.5%;">
        <ul>
<li><a href="airlines" type="submit" id="airlines">Airlines Table</a></li>
<li><a href="paypal" type="submit" id="orders" name="orders">Buy a ticket</a></li>
    <li><a href="orders" type="submit" id="show">Order on airplane</a></li>
            <li><a href="files" type="submit" id="news">Download Files</a></li>
                    <li><a href="raing" type="submit" id="about">Workers Rating</a></li>
                    <li><a href="news" type="submit" id="logout">news</a></li>

                        <li><a href="About" type="submit" id="files" name="show">About FlyEasily</a></li>
                            <li><a href="http://127.0.0.1:8000/" type="submit" id="orders">Logout</a></li>

                 
        </ul>
</nav>

<h1 style="color:rgba(6, 255, 139, 0.555);"><i><b> Welcome to FlyEasily!!!! </b></i></h1>

</div>

</body>