<!DOCTYPE html>  
<html lang="en">  
<head>  
  {% load static %} 
    <meta charset="UTF-8">  
    <title>Employee Last Orders</title>  
    <link href="#" rel="stylesheet"><link rel="stylesheet" href="{% static 'gn.css' %}">  
</head>  
<body>  
    <h1>Passenger Orders</h1><br>
    <article>
        <table>
            <tr>
                <th>Chair</th>
                <th>Food</th>
                <th>Cold Drinks</th>
                <th>hot Drinks</th>
                <th>Other</th>
               
            </tr>
            
            {% for orders in ordered %}
            <tr>
            <td>{{orders.chair }}</td>
            <td>{{orders.food}}</td>
            <td>{{orders.cold}}</td>
            <td>{{orders.hot}}</td>
            <td>{{orders.other}}</td>


            </tr>
            {% endfor %}
        </table>
    </article>
    {% comment %} <input href="reports" type="submit" id="submit" name="submit" value="Send a Report">  {% endcomment %}
</body>  
</html>  