{%load static%}
<html lang="en" >
<head>
{% load static %}
<meta charset="UTF-8">
<title>Fly Easily </title>
<link href="#" rel="stylesheet"><link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>
    <h1 style="color:#000000; background:rgba(6, 21, 236, 0.329)"><i><b> Workers page ✌🏻 </b></i></h1>




<div >

    <nav style="padding-top: 0.5%;">
        <ul>
<li><a href="airlines" type="submit" id="airlines">Airlines Table</a></li>
<li><a href="workerorder" type="submit" id="orders" name="orders">Order at break</a></li>
    <li><a href="show" type="submit" id="show">Passengers orders</a></li>
        <li><a href="reports" type="submit" id="news">reports</a></li>
            <li><a href="managershowre" type="submit" id="news">Manager reports</a></li>
                <li><a href="schedule" type="submit" id="files" name="show">Schedule Work</a></li>
                <li><a href="news" type="submit" id="logout">news</a></li>
                    <li><a href="About" type="submit" id="about">About FlyEasily</a></li>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                            <li><a href="passenger" type="submit" id="orders">Switch to Passengers</a></li>

                            <li><a href="http://127.0.0.1:8000/" type="submit" id="logout">Logout</a></li>
                            
                 
        </ul>
</nav>

<h1 style="color:rgba(6, 255, 139, 0.555);"><i><b> Welcome to FlyEasily!!!! </b></i></h1>
<h2 style="color:rgba(255, 175, 2, 0.555);"><i><b> Workers page ✌🏻 </b></i></h2>

</div>
</body>